---
layout: blog
pageable: true
---
.articles
	%h1 Archives
	- page_articles.each_with_index do |article, i|
		%article
			%h2
				= link_to article.title, article
				%span= article.date.strftime('%b %e, %Y')
			/ use article.summary(250) if you have Nokogiri available to show just
			/		 the first 250 characters
			.article_body
				= article.summary(250, " ... ")
				%p 
					= link_to("Continue Reading", article.url)
	= partial "blog/archive_thing"