<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<title>Andrew Pilsch</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= build? ? inline_css("global.css") : stylesheet_link_tag("global.css", :media => "all", :rel => "stylesheet" )%>
		<%= stylesheet_link_tag("layout.css", :media => "all and (min-width: 33.236em)", :rel => "stylesheet" )%>
		<%= partial "partials/javascript_resources", :locals => { :place => "head" }%>
	</head>
	<body>
		<div class="content"><%=yield%></div>
		<div id="column_width" class="col1"></div>
		<div id="large_box_size"></div>
		<div id="column_padding"></div>
		<div id="help">
			<p>Click on any of the boxes marked with a "+" to read more.</p>
		</div>
		<%= partial "partials/javascript_resources", :locals => { :place => "foot" } %>
		<noscript id="deferred-styles">
			<%= stylesheet_link_tag("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :media => "all", :rel => "stylesheet" )%>
		</noscript>
		<script>
			var loadDeferredStyles = function() {
				var addStylesNode = document.getElementById("deferred-styles");
				var replacement = document.createElement("div");
				replacement.innerHTML = addStylesNode.textContent;
				document.body.appendChild(replacement)
				addStylesNode.parentElement.removeChild(addStylesNode);
			};
			var raf = requestAnimationFrame || mozRequestAnimationFrame ||
						webkitRequestAnimationFrame || msRequestAnimationFrame;
			if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
			else window.addEventListener('load', loadDeferredStyles);

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-660356-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>	