<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<title>Andrew Pilsch</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= build? ? inline_css("global.css") : stylesheet_link_tag("global.css", :media => "all", :rel => "stylesheet" )%>
		<%= stylesheet_link_tag("layout.css", :media => "all and (min-width: 33.236em)", :rel => "stylesheet" )%>
		<%= partial "partials/javascript_resources", :locals => { :place => "head" }%>
	</head>
	<body>
		<div class="content"><%=yield%></div>
		<div id="column_width" class="col1"></div>
		<div id="large_box_size"></div>
		<div id="column_padding"></div>
		<div id="help">
			<p>Click on any of the boxes marked with a "+" to read more.</p>
		</div>
		<%= partial "partials/javascript_resources", :locals => { :place => "foot" } %>
	</body>
</html>	