%div{ :id => "#{article["id"]}", :class=> "col1 expand box research article no-excerpt#{article['emphasize'] ? " emphasize" : ""}" }
	.hideable
		%h2
			- if  article["published"] or article["status"].downcase == "forthcoming"
				- unpublished_status = "Forthcoming Article"
			- else
				- unpublished_status = "Article in Progress"
			= article["published"] ? "Published Article" : unpublished_status
		%p
			%img{ :src => "#{article["image"]}", :alt => "Image Illustrating the article, \"#{article["short_title"]}\"" }
		%h1= Haml::Filters::Markdown.render(article["short_title"]).gsub(/\<\/{0,1}[Pp]\>/,"")
		- if article["published"] or article["status"].downcase == "revise & resubmit" or article["status"].downcase == "revise and resubmit" or article["status"].downcase == "forthcoming"
			%p.single-spaced= article["journal_information"]
		- if article["short_description"]
			:markdown
				#{article["short_description"]}
	.expandable
		.mobile
			%h2= article["published"] ? "Published Article" : unpublished_status
		%h1= Haml::Filters::Markdown.render(article["title"]).gsub(/\<\/{0,1}[Pp]\>/,"")
		:markdown
			**#{article["journal_information"]}**
			
			#{article["description"]}