<div class="col1 expand box research article no-excerpt" id="<%= article["id"]%>">
	<div class="hideable">
		<div class="magnifier"></div>
		<%
		if article["status"].downcase == "forthcoming"
			unpublished_status = "Completed Article"
		else
			unpublished_status = "Article In Progress"
		end
		%>
		<h2><%= article["published"] ? "Published Article" : unpublished_status %></h2>
		<p><img src="<%= article["image"]%>" alt="Image Illustrating the article, \"<%= article["short_title"]%>\""/></p>
		<h3><%= article["short_title"]%></h3>
		<% if article["status"].downcase == "revise & resubmit" or article["status"].downcase == "revise and resubmit" or article["status"].downcase == "forthcoming" or article["published"] %>
			<p class="single-spaced"><strong><%= article["journal_information"] %></strong></p>
		<% end %>
		<% if article["short_description"] %>
			<p><%= Kramdown::Document.new(article["short_description"]).to_html %></p>
		<% end %>
	</div>
	<div class="expandable">
		<div class="mobile"><h1><%= article["published"] ? "Published Article" : unpublished_status %></h1></div>
		<h2><%= article["title"]%></h2>

		<%= Kramdown::Document.new("**#{article["journal_information"]}**").to_html %>
		
		<%= Kramdown::Document.new(article["description"]).to_html %>
	</div>
</div>