.col2.expand.box.research.article.no-excerpt{ :id => "#{book["id"]}" }
	.hideable
		%h2= book["published"] ? "Published Book" : "Book In Progress"
		%p
			%img{ :src => "#{book["image"]}", :alt => "Image Illustrating the book, \"#{book["short_title"]}\"" }
		%h1= book["short_title"]
		- if book["short_description"]
			:markdown
				#{book["short_description"]}
	.expandable
		.mobile
			%h2= book["published"] ? "Published Book" : "Book In Progress" 
		%h1= book["title"]
		:markdown
			#{book["description"]}