<div class="col1 expand box research presentation no-excerpt" id="<%= presentation["id"]%>">
	<div class="hideable">
		<div class="magnifier"></div>
		<h2><%= presentation["delivered"] ? "Recent Presentation" : "Upcoming Presentation"%></h2>
		<p><img src="<%= presentation["image"]%>" alt="Image Illustrating the book, \"<%= presentation["short_title"]%>\""/></p>
		<h3><%= presentation["short_title"]%></h3>
		<% if presentation["short_description"] %>
			<p><%= Kramdown::Document.new(presentation["short_description"]).to_html %></p>
		<% end %>
	</div>
	<div class="expandable">
		<div class="mobile"><h1><%= presentation["delivered"] ? "Recent Presentation" : "Upcoming Presentation"%></h1></div>
		<h2><%= presentation["title"]%></h2>

		<%= Kramdown::Document.new("**Presentation At**: _#{presentation["conference"]}_, #{presentation["conference_location"]}, #{presentation["date"].year}").to_html %>

		<%= Kramdown::Document.new(presentation["description"]).to_html %>
	</div>
</div>