%div{ :id => "#{presentation["id"]}", "data-timestamp" => "#{presentation['date'].to_time.to_i}", :class=> " col1 expand box research presentation no-excerpt#{presentation['emphasize'] ? " emphasize" : ""}" }
	.hideable
		%h2= presentation["delivered"] ? "Recent Presentation" : "Upcoming Presentation"
		%p
			%img{ :src => "#{presentation["image"]}", :alt => "Image Illustrating the presentation, \"#{presentation["short_title"]}\"" }
		%h1= Haml::Filters::Markdown.render(presentation["short_title"]).gsub(/\<\/{0,1}[Pp]\>/,"")
		- if presentation["short_description"]
			:markdown
				#{presentation["short_description"]}
	.expandable
		.mobile
			%h2= presentation["delivered"] ? "Recent Presentation" : "Upcoming Presentation"
		%h1= Haml::Filters::Markdown.render(presentation["title"]).gsub(/\<\/{0,1}[Pp]\>/,"")
		:markdown
			**Presentation At**: _#{presentation["conference"]}_, #{presentation["conference_location"]}, #{presentation["date"].year}
		
			#{presentation["description"]}