<div id=<%=book["id"]%> class="col2 expand box research article no-excerpt">
	<div class="hideable">
		<h2>
			<%= book["published"] ? "Published Book" : "Book In Progress" %>
		</h2>
		<p>
			<%= inline_image book["image"], :alt => "Image Illustrating the book, \"#{book["short_title"]}\""%>
		</p>
		<h1>
			<%= Tilt['markdown'].new(config[:markdown]) { book["short_title"] }.render(app).gsub(/\<\/{0,1}[Pp]\>/,"")%>
		</h1>
		<% if book["short_description"] %>
			<%=Tilt['markdown'].new(config[:markdown]) {book["short_description"] }.render(app) %>
		<% end %>
	</div>
	<div class="expandable">
		<div class="mobile">
			<h2><%= book["published"] ? "Published Book" : "Book In Progress" %></h2>
		</div>
		<h1>
			<%= Tilt['markdown'].new(config[:markdown]) { book["title"] }.render(app).gsub(/\<\/{0,1}[Pp]\>/,"")%>
		</h1>
		<%=Tilt['markdown'].new(config[:markdown]) { book["description"] }.render(app)%>
	</div>
</div>