- require 'base64'
.col2.expand.box.research.article.no-excerpt{ :id => "#{book["id"]}" }
	.hideable
		%h2= book["published"] ? "Published Book" : "Book In Progress"
		%p
			=inline_image book["image"], :alt => "Image Illustrating the book, \"#{book["short_title"]}\""
		%h1= Haml::Filters::Markdown.render(book["short_title"]).gsub(/\<\/{0,1}[Pp]\>/,"")
		- if book["short_description"]
			:markdown
				#{book["short_description"]}
	.expandable
		.mobile
			%h2= book["published"] ? "Published Book" : "Book In Progress" 
		%h1= Haml::Filters::Markdown.render(book["short_title"]).gsub(/\<\/{0,1}[Pp]\>/,"")
		:markdown
			#{book["description"]}