%div{ :id => "#{item["id"]}", :class=> "col1 expand box research other no-excerpt#{item['emphasize'] ? " emphasize" : ""}" }
	.hideable
		%h2= item["kind"]
		%p
			=inline_image item["image"], :alt => "Image Illustrating, \"#{item["short_title"]}\""
		-presentation_title = capture_haml do
			= markdown do
				#{item["short_title"]}
		%h1= presentation_title.gsub(/\<\/{0,1}[Pp]\>/,"")
		- if item["short_description"]
			= markdown do
				#{item["short_description"]}
	.expandable
		%h2= item["kind"]
		-presentation_title = capture_haml do
			= markdown do
				#{item["title"]}
		%h1= presentation_title.gsub(/\<\/{0,1}[Pp]\>/,"")
		= markdown do
			#{item["description"]}