%div{ :id => "#{presentation["id"]}", "data-timestamp" => "#{presentation['date'].to_time.to_i}", :class=> " col1 expand box research presentation no-excerpt#{presentation['emphasize'] ? " emphasize" : ""}" }
	.hideable
		%h2= presentation["delivered"] ? "Recent Presentation" : "Upcoming Presentation"
		%p
			=inline_image presentation["image"], :alt => "Image Illustrating the presentation, \"#{presentation["short_title"]}\""
		-presentation_title = capture_haml do
			= markdown do
				#{presentation["short_title"]}
		%h1= presentation_title.gsub(/\<\/{0,1}[Pp]\>/,"")
		- if presentation["short_description"]
			= markdown do
				#{presentation["short_description"]}
	.expandable
		.mobile
			%h2= presentation["delivered"] ? "Recent Presentation" : "Upcoming Presentation"
		-presentation_title = capture_haml do
			= markdown do
				#{presentation["title"]}
		%h1= presentation_title.gsub(/\<\/{0,1}[Pp]\>/,"")
		= markdown do
			**Presentation At**: _#{presentation["conference"]}_, #{presentation["conference_location"]}, #{presentation["date"].year}
		
			#{presentation["description"]}