/ Begin #classroom_resources
#classroom_resources.box.expand.col1.teaching.no-mobile
	.hideable
		%h1 Classroom Resources
		%p
			%img( src="images/thumbs/classroom/tech_comm_site.png" alt="Screencapture of ENGL 202C Spring 2009 Homepage" )
		%p Some resources I've used in past courses.
		.magnifier
	.expandable
		%h1 Classroom Resources Gallery
		%dl.gallery
			/ Technical Communications Syllabus
			%dt
				=link_to "Technical Communications Syllabus (PDF)", "files/tech_comm.pdf"
			%dd.image
				%a( href="files/tech_comm.pdf" )
					%img( src="images/thumbs/classroom/tech_comm.png" alt="Screencapture of Technical Communications Syllabus" )
			%dd.description

				%p 
					Class for a recent technical communications course to be taught at Penn State. This class continues the work that can be seen in the web class linked on
					= link_to( "the web gallery", "web.html" )
					\. The class stresses the role that form and content both play in the process of communication. Moreover, assignments that include the use of Powerpoint and in-depth exploration of design features in MS Word, reveal to students the fact that both form and content have specific rhetorical tropes and figures that they must master to become successful technical communicators.

			/ Business Communications Syllabus
			%dt
				= link_to "Business Communications Syllabus (PDF)", "files/bcomm.pdf"
			%dd.image
				%a( href="files/bcomm.pdf" )
					%img( src="images/thumbs/classroom/bcomm.png" alt="Screencapture of Business Communications Syllabus" )
			%dd.description

				%p 
					This syllabus is for a proposed business communications class. It is designed to get students thinking about the relationship between written communication, online media, and identity. Students will face a number of multimodal assignments, including a semester-long assignment in which they engage in hands-on exploration of various social media technologies as a means of exploring the ways in which media help shape our rhetorical possibilities.

			/ Technical Communications Website
			
			%dt
				= link_to "ENGL 202C Spring 2009 Homepage", "http://www.personal.psu.edu/atp128/blogs/202c_spring_2009/"
			%dd.image
				%a( href="http://www.personal.psu.edu/atp128/blogs/202c_spring_2009/")
					%img( src="images/thumbs/classroom/tech_comm_site.png" alt="Screencapture of ENGL 202C Spring 2009 Homepage" )
			%dd.description

				%p 
					A class website for a section of ENGL 202C (technical writing) taught at 
					= link_to( "Penn State", "http://psu.edu" )
					in Spring 2009. This particular class was part of a pilot project that explored the use of blogs in the composition classroom. Students were asked to blog three times a week and submit their assignments on their personal blogs.
					
			/ Composition Wiki
			
			%dt
				= link_to "English Composition Wiki Homepage", "http://singularity.pilsch.com/"
			%dd.image
				%a( href="http://singularity.pilsch.com/" )
					%img( src="images/thumbs/classroom/wiki_class.png" alt="Screencapture of English Composition Wiki Homepage" )
			%dd.description

				%p 
					As an instructor in the first year composition program in
					= link_to( "Penn State's English Department", "http://english.la.psu.edu" )
					, I was able to take part in a pilot program exploring the use of wikis in the freshman composition program. In the early days of such technology's adoption online, we were able to experiment with the affordances of the technology and the possibilities that exist for creating a community of writers in first year writing classrooms.

			/ Technical Communications Design Slides
			%dt
				= link_to "Technical Communications Design Slides (PPT)", "files/design_slides.ppt"
			%dd.image
				%a( href="files/design_slides.ppt" )
					%img( src="images/thumbs/classroom/design_slides.png" alt="Screencapture of Technical Communications Design Slides" )
			%dd.description

				%p 
					This is a set of slides designed to teach basic design principles to non-designers. I find, in teaching business and technical communications, that students often need to understand the rhetorical principles of form as much as they need to understand the rhetorical principles of the words they write. These slides are intended to begin a semester-long conversation about design and form.

			/ Business Communication Presentation Style Slides
			%dt
				= link_to "Business Communication Presentation Style Slides (Google Docs)", "https://docs.google.com/present/view?id=dd6z25rv_37g79vjnp4"
			%dd.image
				%a( href="https://docs.google.com/present/view?id=dd6z25rv_37g79vjnp4" )
					%img( src="images/thumbs/classroom/presentation_slides.png" alt="Screencapture of Business Communication Presentation Style Slides" )
			%dd.description

				%p 
					These slides, created in 
					= link_to( "Google Documents", "http://docs.google.com" )
					are intended to teach students about the various possibilities for conveying meaning through Powerpoint. The goal of these slides is to show students how to create effective slide presentations using both principles of form and content.
		
/ End #classroom_resources