-if place == "head"
	/ Load Modernizr
	= javascript_include_tag("vendor/modernizr/modernizr.min.js")
	:javascript
		// Redirect if IE 8
		var v=-1;if("Microsoft Internet Explorer"==navigator.appName){var r=/MSIE ([0-9]{1,}[.0-9]{0,})/;null!=r.exec(navigator.userAgent)&&(v=parseFloat(RegExp.$1))}-1<v&&8>=v&&(window.location.href="ie8.html");
		
- else
	-if true
		= javascript_include_tag("application.js")
	- else
		- # Dynamically load the contents of the javascripts/libraries directory:
		- libraries = Dir.entries(Dir.pwd + "/" + config.source + "/" + config.js_dir + "/libraries").select { |x| !(x =~ /^\./) }

		/ Javascript vendor libraries
		= javascript_include_tag("//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js", "vendor/imagesloaded/imagesloaded.min.js", "vendor/jquery/plugins/jquery.isotope.min.js", "#{javascript_path("plugins.js")}")
		/ Local libraries
		- libraries.map do |x|
			= javascript_include_tag("libraries/#{x}")

	:javascript	
		// Load polyfills and init isotope. All file paths are generated at build by Middleman:
		$(document).ready(function() {
			Modernizr.load([
				{
					test: window.jQuery,
					nope: "#{javascript_path("vendor/jquery/jquery.min.js")}"
				},
				{
					test: Modernizr.hashchange,
					nope: "#{javascript_path 'vendor/jquery/plugins/jquery.hashchange.min.js'}"
				},
				{
					test: ($('html').attr('class').match(/ie[6-8]/) === null),
					nope: [ 
						"#{javascript_path("vendor/selectivizr/selectivizr.min.js")}",
						"#{javascript_path("vendor/rem-unit/rem.min.js")}"
					]
				},
				{
					test: Modernizr.mq("all and (min-width: 33.236em)"),
					yep: "#{javascript_path("site.js")}",
					nope: "#{javascript_path("mobile.js")}",
					complete: function() {
						start_isotope();
					}
				}
			]);
		});