---
layout: false
---
- current_term = "#{CourseDate.to_term(Date.today.month)} #{Date.today.year}"
!!! 5
%html.ie8{ :lang => "en" }
	%head
		%meta{ :charset => "utf-8" }/
		
		-# Always force latest IE rendering engine (even in intranet) & Chrome Frame
		-# Remove this if you use the .htaccess
		-# %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
		
		%title Andrew Pilsch
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
		:sass
			@import "normalize.scss/normalize"
			@import "bourbon/app/assets/stylesheets/bourbon"
			$leading: 1.5em
			html
				font:
					family: $helvetica
					size: 20/16 * 100%
				line-height: $leading
			a
				color: #F00
			body
				width: 60em
				max-width: 75%
				margin: $leading auto
			h1,h2,h3,h4,h5
				text-align: center
				line-height: 1
			h1
				&.title
					font-size: 4em
					margin-top: 0
				&.section, &#cv_title
					font-size: 3em
					margin-top: $leading * 2
			p
				margin-top: $leading
			ul,ol
				margin-top: $leading
				ul,ol
					margin-top: 0
			.box
				margin-top: $leading
			img
				display: none
			.no-mobile, .hideable
				display: none
				
			#cv
				.center
					margin: 0 auto

				.center_text, .centered
					text-align: center
					p
						margin:
							left: 0 !important	
				#cv_html
					h2,h3,h4,h5
						text-align: left
					p
						margin-top: $leading / 2
					ol,ul
						margin-top: $leading / 2

					dl
						margin:
							left: $leading
					h2
						border-bottom: 1px solid black
						font:
							size: 18pt
						margin:
							top: $leading

					small
						font-size: 0.9em
						float: right
						display: block

					p
						margin:
							left: $leading

						&.indent
							margin:
								left: $leading * 2
						&.hug
							margin:
								top: 0
	
					ul
						list-style: none
						margin:
							left: $leading
						padding: 0

						li
							&:first-child
								margin:
									top: 0
					.links p
						margin:
							left: 0

				
	%body
		%h1.title Andrew Pilsch
		= partial("about")
		
		:markdown
			**This page is a version of my site designed to display in Internet Explorer 8, the browser you are using. IE8 is 5 years out of date with regards to web standards, riddled with security errors, and no longer supported or maintained by Microsoft.**
			
			**You should strongly consider [upgrading to a newer version of Internet Explorer](http://windows.microsoft.com/en-us/internet-explorer/ie-9-worldwide-languages) or installing either [FireFox](http://www.mozilla.org/en-US/firefox/new/) or [Google Chrome](https://www.google.com/intl/en-US/chrome/browser/), both of which are secure, fast, modern browsers that will work with the full version of this site.**
		
		%h1.section Research
		
		= partial("research/print_research", :locals => { :type => "book", :front_page => true })
		= partial("find_me")
		= partial("research/print_research", :locals => { :type => "article", :front_page => true })
		= partial("research/print_research", :locals => { :type => "presentation", :front_page => true })
		
		%h1.section Teaching
		= partial("podcasting")
		= partial("teaching")
		= partial("courses/print_term", :locals => { :term => current_term })
		= partial("classroom_resources")
		= partial("teaching_philosophy")
		= partial("cv")
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-660356-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();