- current_term = "#{CourseDate.to_term(Date.today.month)} #{Date.today.year}"
%header
	#logo
		%h1
			%span.andrew Andrew
			%span.pilsch Pilsch
	#filters
		%h1 See Content Related To:
		%ul
			%li
				%a(href="#" data-filter="") All
			%li
				%a(href="#" data-filter=".research") Research
			%li
				%a(href="#" data-filter=".teaching") Teaching
			%li
				%a(href="#" data-filter=".blog") Blog

#box_container
	= partial("partials/about")
	= partial("partials/research/print_research", :locals => { :type => "book", :front_page => true })
	= partial("partials/teaching_philosophy")
	= partial("partials/cv")
	= partial("partials/find_me")
	= partial("partials/research/print_research", :locals => { :type => "article", :front_page => true })
	= partial("partials/research/print_research", :locals => { :type => "other", :front_page => true })
	= partial("partials/blog")
	= partial("partials/research/print_research", :locals => { :type => "presentation", :front_page => true })
	= partial("partials/podcasting")
	= partial("partials/teaching")
	-# partial("courses/print_term", :locals => { :term => current_term })
	:javascript
		var current_term = "#{current_term}";
	= partial("partials/classroom_resources")
	= partial("partials/about_site")